@import url("../icons/boxicons.css");
@import url("../css/animate.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');




*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif !important;
}
#sec-head-box p{
font-family: cursive !important;
}
#sec-head-box h1{
font-weight: 900 !important;
font-family: arial !important;
}
.sec-head p{
font-family: cursive !important;
}
.sec-head h1{
font-weight: 900 !important;
font-family: arial !important;
}
h1,button{
font-family: arial !important;
}

:root{
--lbg: #fff;
--lfont: #111111;
--dbg: #111520;
--dfont: #d9dce3;
--lsdw: rgba(0,0,0,0.18);
--dsdw: rgba(255,255,255,0.1);
/* card bg */
--clbg: rgba(255, 255, 255, 0.26); 
--cdbg: rgba(17, 21, 32, 0.29);
/* like bg */
--likelbg: rgba(0,0,0,0.1);
--likedbg: rgba(255,255,255,0.15);

--cardlbg: #fff;
--carddbg: #192232;

--footlbg: #f6f6f6;
--footdbg: #192232;
--secmax: 1000px;
--linvert: invert(0);
--dinvert: invert(1);
}
@media(min-width: 1440px){
:root{--secmax: 1100px;
}}

.light-theme{
--bg: var(--lbg);
--font: var(--lfont);
--sdw: var(--lsdw);
/* card */
--cbg: var(--clbg);
/* like bg */
--likebg: var(--likelbg);

--cardbg: var(--cardlbg);
--footbg: var(--footlbg);
--invert: var(--linvert);
}
.dark-theme{
--bg: var(--dbg);
--font: var(--dfont);
--sdw: var(--dsdw);
/* card */
--cbg: var(--cdbg);
/* like bg */
--likebg: var(--likedbg);

--cardbg: var(--carddbg);
--footbg: var(--footdbg);
--invert: var(--dinvert);
}



html{
scroll-behavior: smooth;
}
body{
background: var(--bg);
color: var(--font);
width: 100%;
overflow-x: hidden;
}
body::-webkit-scrollbar{
width: 18px;
background: var(--footbg);
}
body::-webkit-scrollbar-thumb{
background: #5865f2;
border-radius: 6px;
border: 2.5px solid var(--footbg);
}
body::-webkit-scrollbar-button{
color: var(--font);
}
.overlay-dark > *:not(nav){
filter: blur(2px);
opacity: 0.8;
}
.loader > *:not(#loader){
visibility: hidden;
opacity: 0;
}


/* 
#overlay{
width: 100%;
height: 100vh;
position: fixed;
background: rgba(0,0,0,0.5);
top: 0;
left: -100%;
z-index: 100;
}
 */





/* navbar */
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background: var(--bg);
  z-index: 99;  
  box-shadow: 0px 2px 20px -5px var(--lsdw), 0px 2px 5px -2px var(--dsdw);
}
nav .navbar{
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;  
  padding: 0 50px;
}
.navbar .logo img{
width: 60px;		
height: 60px;	
border-radius: 100%;
margin-top: 6px;
padding: 8px;
box-shadow: 0px 0.5px 3px 0.5px rgba(0,0,0,0.25), 0px 0.5px 2px 0.5px rgba(255,255,255,0.4);
}

nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
  margin: 0 0.6rem;
}
@media(max-width: 1080px){
nav .navbar .links li{
  margin: 0 0.2rem;
}}
@media(max-width: 800px){
nav .navbar .links li{
  margin: 0 0;
}}



nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: var(--font);
  font-size: 15px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
  }

nav .navbar .links li .arrow{
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: var(--font);
  transition: all 0.5s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: var(--bg);
  box-shadow: 0 1px 2px var(--sdw);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: var(--font);
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu{
  /* line-height: 40px; */
}
.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}
.navbar .search-box{
  position: relative;
   height: 40px;
  width: 40px;
}
.navbar .search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  color: var(--font);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease;
}
.bx-moon{
font-size: 22px;	
}
.bxs-sun{
font-size: 27px;
}
.navbar .search-box .input-box{
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: var(--bg);
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}
.navbar.showInput .search-box .input-box{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: var(--bg);
}
.search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: var(--bg);
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}
@media (max-width:920px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }
}
@media (max-width:800px){
  nav{
    /* position: relative; */
  }
  .navbar .bx-menu{
    display: block;
    font-size: 30px;
  }
  .logo{
  margin-left: 15px;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background:  var(--bg);
    line-height: 40px;
    padding:0 20px;
    box-shadow: 0 5px 10px var(--sdw);
    transition: all 0.5s ease;
    z-index: 1001 !important;
    overflow: scroll;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
  }
  .sidebar-logo .logo-name{
  	display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 8px;
    box-shadow: 0px 0.5px 3px 0.5px rgba(0,0,0,0.25), 0px 0.5px 2px 0.5px rgba(255,255,255,0.4);
  }
  .sidebar-logo  i{
  	font-size: 35px !important;
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 30px;
      color: var(--font);
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
nav .navbar .links li{
    display: block;
  }
nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;

}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: none;
  }
.navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu{
      display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow{
        transform: rotate(180deg);
}
    .navbar .nav-links.show2 .links .more-arrow{
      transform: rotate(90deg);
    }
}
@media (max-width:370px){
  nav .navbar .nav-links{
  max-width: 100%;
} 
}

.links li a:hover{
color: #ba55ff !important;
}
.active-link{
color: #ba55ff !important;
}





/* footer */
footer{
width: 100%;
background: var(--footbg);
display: flex; 
flex-direction: column;
align-items: flex-start;
padding: 18px 18px 3.5rem 18px;
margin-top: 10rem;
}
footer main{
width: 100%;
max-width: 1200px;
display: flex; 
flex-direction: column;
margin: 0 auto;
}
#foot-head{
width: 20rem;
display: flex; 
flex-direction: column;
align-items: flex-start;
}
#foot-head img{
width: 100px;		
height: 100px;	
border-radius: 100%;
margin-top: 6px;
padding: 8px;
box-shadow: 0px 0.5px 3px 0.5px rgba(0,0,0,0.25), 0px 0.5px 2px 0.5px rgba(255,255,255,0.4);
}
#foot-head p{
font-size: 15px;
color: var(--font);
opacity: 0.8;
line-height: 1.8;
margin: 12px 0 0 0;
}
#foot-head div{
width: auto;
margin: 0.8rem 0;
display: flex; 
flex-direction: row;
align-items: center;
}
#foot-head div a{
text-decoration: none;
font-size: 23px;
color: var(--font);
margin: 0 5px 0 0;
background: var(--bg);
border-radius: 100%;
border: 0.1px solid var(--sdw);
padding: 11px;
box-shadow: 0px 3px 6px 0.1px var(--sdw);
transform: scale(0.9);
transition: background 0.3s;
}


#foot-lg-row{
width: 100%;
display: flex; 
flex-direction: column;
}


#foot-links{
width: 20rem;
display: flex; 
flex-direction: column;
align-items: flex-start;
margin: 2.8rem 0 0 0;
}
#foot-links h1{
font-size: 18px;
margin-bottom: 5px;
}
#foot-links a{
font-size: 15px;
color: var(--font);
opacity: 0.8;
line-height: 1.48;
margin: 0.5rem 0 0 0;
text-decoration: none;
}



#foot-contact{
width: 20rem;
display: flex; 
flex-direction: column;
align-items: flex-start;
margin: 2.8rem 0 0 0;
}
#foot-contact h1{
font-size: 18px; 
margin-bottom: 10px;
}
#foot-contact span{
display: flex;
align-items: center;
}
#foot-contact span i{
text-decoration: none;
font-size: 23px;
color: var(--font);
margin: 0 6px 0 0;
background: var(--bg);
border-radius: 100%;
padding: 10px;
box-shadow: 0px 3px 6px 0.1px rgba(0,0,0,0.14), 0px 0px 0px 0.5px #949494;
transform: scale(0.9);
transition: background 0.3s;
}
#foot-contact span a{
font-size: 15px;
color: var(--font);
opacity: 0.8;
line-height: 1.48;
margin: 0 0 0 0.5;
text-decoration: none;
}




#foot-news{
width: 20rem;
display: flex; 
flex-direction: column;
align-items: flex-start;
margin: 2.8rem 0 0 0;
}
#foot-news h1{
font-size: 18px; 
margin-bottom: 10px;
}
#foot-news p{
font-size: 15px;
color: var(--font);
opacity: 0.8;
line-height: 1.5;
}
#foot-news form{
display: flex; 
width: 18rem;
margin: 0.5rem 0 0 -2px;
border-radius: 6px;
border: 0.5px solid #888;
}
#foot-news form input[type="email"]{
width: 14.5rem;
background: var(--bg);
border: none;
border-radius: 6px 0 0 6px;
padding: 10px;
outline: none;
color: var(--font);
}
#foot-news form button{
width: 3.5rem;
background: #5865f2;
border: none;
font-size: 16px;
font-weight: 401;
color: var(--dfont);
border-radius: 0 6px 6px 0;
}
#foot-news form button i{
font-size: 24px;
font-weight: 400;
color: var(--dfont);
}




#foot-copy{
width: 100%;
background: var(--footbg);
padding: 18px 15px;
display: flex; 
align-items: center;
border-radius: 3px;
border-top: 0.1px solid var(--sdw);
}
#foot-copy p{
font-size: 15px;
color: var(--font);
opacity: 0.8;
line-height: 1.5;
text-align: left;
}








@media(min-width: 800px){
#foot-head{
width: 26rem !important;
margin: 0 auto !important;
align-items: center !important;
}
#foot-head div a{
margin: 0 4px 0 4px !important;
}
#foot-head p{
padding: 0 1rem !important;
text-align: center !important;
}
#foot-lg-row{
max-width: 53rem !important;
margin: 3rem auto 0 auto !important;
flex-direction: row !important;
justify-content: space-between !important;
}
#foot-links{
align-items: stretch !important;
text-align: left !important;
padding-left: 4rem !important;
}
#foot-contact{
align-items: center !important;
}
#foot-news{
align-items: center !important;
}
.foot-pp{
width: 15rem !important;
margin: 0 0 0 0 !important;
}
#foot-news form{
margin: 0.5rem auto 0 auto !important;
}
#foot-contact span{
display: flex !important;
flex-direction: column !important;
align-items: center !important;
}
#foot-contact span a{
line-height: 3 !important;				
}
#foot-news form{
width: 15rem !important;
}
#foot-news form input[type="email"]{
width: 11.5rem !important;
}
#foot-news form button{
width: 3.5rem !important;
}
#foot-copy{
justify-content: center !important;
}
}





@media(min-width: 1100px){
footer{
flex-direction: row !important;
align-items: center !important;
justify-content: center !important;
padding: 18px 18px 3rem 18px !important;
}
footer main{
flex-direction: row !important;
}
#foot-head{
width: 18rem !important;
margin: 0 auto;
padding: 5rem 1rem 0 1rem !important;
align-items: center;
}
#foot-head div a{
margin: 0 4px 0 0;
}
#foot-head p{
text-align: center;
}
#foot-lg-row{
width: 45rem !important;
margin: 0rem auto 0 auto !important;
flex-direction: row;
justify-content: space-between;
}
.foot-pp{
width: 18rem !important;
margin: 0 0 0 0 !important;
padding: 5rem 1rem 0 1rem !important;
}
#foot-news form{
margin: 0.5rem auto 0 auto;
}
#foot-contact span{
display: flex;
flex-direction: column;
align-items: center;
}
#foot-contact span a{
line-height: 3 !important;				
padding: 0 1rem;
}
#foot-news form{
margin: 0.4rem 0 0 0;
width: 15rem;
}
#foot-news form input[type="email"]{
width: 11.5rem;
}
#foot-news form button{
width: 3.5rem;
}
#foot-news p{
margin: 0.4rem 0 0 0;
}
#foot-copy{
justify-content: center;
}
}


@media(min-width: 1200px){
footer{
padding: 18px 18px 2.5rem 18px;	
}
#foot-lg-row{
width: 50rem !important;
}
.foot-pp{
padding: 5rem 1.5rem 0 1.5rem !important;
}
#foot-head{
width: 18rem !important;
padding: 5rem 1rem 0 1rem !important;
}}
@media(min-width: 1300px){
#foot-lg-row{
width: 55rem !important;
}}



#foot-links a{
transition: margin-left 0.4s;
width: fit-content;
}
#foot-links a:hover{
color: #ba55ff;
margin-left: 0.4rem;
font-weight: 501 !important;
border-bottom: 1.5px solid #ba55ff;
opacity: 2 !important;
}








/* back to top button */
#back-to-top{
width: 48px;
height: 48px;
background: transparent;
display: none; 
align-items: center;
justify-content: center;
border-radius: 100%;
position: fixed;
bottom: 0.8rem;
right: 0.8rem;
z-index: 99;
transition: all 0.3s;
box-shadow: 0 0 10px 0.1px var(--sdw), 0 0 1px 0.5px var(--font);
}
#back-to-top i{
font-size: 20px;
font-weight: 401;
margin-bottom: -0px;
color: var(--font);
animation: fading-up 1.5s infinite linear;
}
#back-to-top:active{
background: var(--font);
}
#back-to-top:active i{
color: var(--footbg);
}

.bxl-facebook:hover{
background: #1077f0 !important;
color: #fff !important;
}
.bxl-discord-alt:hover{
color: #fff !important;
background: #5865f2 !important;
}
.bxl-instagram-alt:hover{
color: #fff !important;
background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%) !important;
}
.bxl-twitter:hover{
color: #fff !important;	
background: #229af0 !important;			
}
.bxl-linkedin:hover{
color: #fff !important;
background: #2c67b3 !important;
}
