.anime{
width: 200px;
height: 200px;
border-radius: 100%;
background: #03aaab;
filter: blur(0px) opacity(0.85);
box-shadow: 0px 0px 100px 5px #03aaab;
position: fixed;
z-index: -99;
}

#anime-left{
top: 80px;
left: -100px;
}
#anime-right{
bottom: 20px;
right: -100px;
}
@media(min-width: 800px){
.anime{
transform: scale(1.2);
}	
#anime-left{
left: -80px; 
}
#anime-right{
right: -80px;
}}
@media(min-width: 1200px){
.anime{
transform: scale(1.5);
}	
#anime-left{
left: -70px; 
top: 140px;
}
#anime-right{
right: -70px;
bottom: 40px;
}}




#first{
width: 90%;	
max-width: var(--secmax);
overflow-x: hidden;
margin: 110px auto 1rem auto;
padding: 1.4rem;
background: var(--bg);
border-radius: 8px;
box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1), 0 1px 3px 0.5px rgba(255,255,255,0.2);
border: 1px solid rgba(0,0,0,0.1);
}
@media(min-width: 768px){
#first{
padding: 3vw;				
}}

#head{
font-size: 25px;
font-weight: 600;
font-family: Arial;
}
#first a{
color: #00c1c1;
font-weight: 401;
text-decoration: none;
text-decoration-color: #5865f2;
}
.para{
margin: 0.7rem auto 0 auto;
font-size: 14px;
font-weight: 400;
line-height: 1.9;
font-family: arial;
opacity: 0.85;
}
.list{
margin: 1rem auto 0 1rem;
font-size: 14px;
font-weight: 400;
line-height: 1.7;
font-family: arial;
opacity: 0.85;
list-style: disc !important;
}
.list li{
margin: 15px 0;
}
.heading{
font-size: 22px;
font-weight: 700;
font-family: Arial;
margin: 2.8rem auto 0 auto;
line-height: 1.5;
font-weight: 500;
}










#first-links{
width: auto;
margin: 2.2rem auto 0 auto;
display: flex; 
flex-direction: row;
align-items: center;
}
#first-links a{
text-decoration: none;
font-size: 23px;
color: var(--font);
margin: 0 6px 0 0;
background: var(--cardbg);
border-radius: 100%;
padding: 10px;
border: 0.1px solid var(--sdw);
box-shadow: 0px 3px 6px 0.1px rgba(0,0,0,0.14);
transform: scale(0.9);
transition: background 0.3s;
}
.bxl-facebook:hover{
background: #1077f0 !important;
color: #fff !important;
}
.bxl-discord-alt:hover{
color: #fff !important;
background: #5865f2 !important;
}
.bxl-instagram-alt:hover{
color: #fff !important;
background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%) !important;
}
.bxl-twitter:hover{
color: #fff !important;	
background: #229af0 !important;			
}
.bxl-linkedin:hover{
color: #fff !important;
background: #2c67b3 !important;
}

@media(min-width: 400px){
#first-links a{
transform: scale(1);				
margin: 0 8px;
}}
@media(min-width: 500px){
#first-links a{		
margin: 0 10px;
}}
@media(min-width: 600px){
#first-links a{		
margin: 0 11px;
}}
@media(min-width: 800px){
#first-links a{		
margin: 0 12px;
}
#first-links{
width: auto;
margin: 2.5rem auto 0 auto;}}
@media(min-width: 1000px){
#first-links a{		
margin: 0 13px;
}}
@media(min-width: 1200px){
#first-links a{		
margin: 0 14px;
}}
