.sec-head{
width: 100%;
display: flex;
flex-direction: column;
text-align: center;
}
.sec-head h1{
font-size: 27px;
font-family: fantasy;
font-weight: 600;
background: linear-gradient(20deg, #00d1d1, #5865f2);
-webkit-text-fill-color: transparent; 
-webkit-background-clip: text;
width: fit-content;
margin: 0 auto;
border-right: 3px solid #5865f2;
border-left: 3px solid #03aaab;
padding: 0 10px;
}
.sec-head p{
font-size: 19px;
color: var(--font);
line-height: 1.7;
margin-top: 4px;
font-weight: 500;
font-family: cursive;
}






/* first */
#first{
width: 100%;
background: var(--footbg);
overflow-x: hidden;
padding: 100px 0 30px 0;
border-bottom: 0.5px solid var(--sdw);
}
#first div{
width: 100%;
max-width: var(--secmax);
display: flex;
flex-direction: column;
padding: 0 1.5rem;
margin: 0 auto;
}
#first div img{
width: 85%;
margin: 0 auto;
}
#first div span{
width: 100%;
display: flex; 
flex-direction: column;
text-align: left;
margin: 2rem 0 0 0;
}
#first div span h1{
font-size: 28px;		
color: #5865f2;
font-family: fantasy;
}
#first div span p{
font-size: 15px;		
color: var(--font);
font-family: fantasy;
line-height: 1.6;
margin-top: 10px;
}
#first div span button{
width: 170px;
padding: 12px 0;
background: #5865f2;
color: #fff;
border-radius: 6px;
font-size: 15px;
font-weight: 500;
letter-spacing: 0.2px;
border: none;
margin-top: 30px;
}
@media(min-width: 768px){
#first div{
flex-direction: row;
}				
#first div img{
width: 40%;
margin: 0 auto 0 1.2rem;
}
#first div span{
width: 45%;
margin: 0 1.2rem 0 auto;
justify-content: center;
}}












/* second section */
#second{
width: 100%;
max-width: calc(var(--secmax) + 4rem);
margin: 0 auto;
padding: 6rem 1.5rem 0 1.5rem;
}
.row{
width: 100%;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
margin-top: 3rem;
}
.card{
width: 20rem;
border-radius: 6px;
background: var(--cardbg);
box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
margin: 10px;
display: flex;
flex-direction: column;
padding: 17px 20px;
color: var(--font);
transition: all 0.5s;
}
.card:hover{
outline: 1.5px solid #5865f2;
}

.card i{
font-size: 50px;
width: 75px;
height: 75px;
background: #5865f2;
color: #fff;
border-radius: 100%;
display: flex;
align-items: center;
justify-content: center;
border: 6px solid #4e65eb;
}

.card img{
font-size: 50px;
width: 70px;
height: 70px;
background: #5865f2;
color: #fff;
padding: 10px;
border-radius: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.card h1{
margin-top: 1.2rem;
margin-bottom: 5px;
font-size: 22px;
opacity: 0.9;
}
.card span{
display: flex; 
align-items: center;
margin: 6px 0;
}
.card span h2{
font-size: 12px;
font-weight: 400;
background: var(--sdw);
color: var(--font);
border-radius: 3px;
padding: 4.2px 16px;
margin-right: 8px;
}

.card p{
margin-top: 12px;
font-size: 15px;
opacity: 0.75;
line-height: 1.55;
}
.card button{
width: 160px;
padding: 12px 0;
background: #5865f2;
color: #fff;
border-radius: 6px;
font-size: 15px;
font-weight: 500;
letter-spacing: 0.2px;
border: none;
margin-top: 17px;
}
.unavailable{
background: var(--sdw) !important;
color: #ffffff !important;
pointer-events: none !important;
opacity: 0.7 !important;
}

@media(min-width: 1000px){
.card{
width: 19rem;
margin: 14px;
}}

