#first{
width: 90%;
max-width: calc(var(--secmax) + 2rem);
overflow-x: hidden;
padding: 90px 0 0 0;
position: sticky;
top: 0;
margin: 0 auto;
z-index: 5;
background: var(--bg);
overflow: visible;
}
#first div{
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
background: var(--cardbg);
padding: 8px 1rem;
border-radius: 8px;
border: 0.5px solid var(--sdw);
box-shadow: 0 8px 12px -10px var(--lsdw);
}
#first div h1{
font-size: 20px;
letter-spacing: 0.5px;
font-family: fantasy;
opacity: 0.9;
}
#first div i{
font-size: 21.6px;
font-weight: 500;
margin-left: 0;
padding: 10px;
border-radius: 100%;
}
#first div i:hover{
box-shadow: inset 0 0 0 50px rgba(0,0,0,0.08), inset 0 0 0 50px rgba(255,255,255,0.15);	
}
.cart-have-items::after{
content: "•";
position: absolute;
margin-top: -12px;
margin-left: -2px;
font-size: 25px;
color: #5865f2;
}
#first form{
display: none;
width: calc(100% - 70px);
max-width: 350px;
background: #5865f2;
margin: 0.5rem 70px 0 auto;
border-radius: 30px 0 30px 30px;
border: 3.5px double var(--bg);
}
#first form input{
width: 100%;
height: 40px;
outline: none;
border: none;
background: transparent;
font-size: 14.5px;
padding: 0 1.2rem;
color: #fff;
}

input[type="search"]::-webkit-search-cancel-button{
-webkit-appearance: none; 
height: 18px; 
width: 18px; 
border-radius: 100%; 
background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%; background-size: contain; 
opacity: 0; 
pointer-events: none; 
filter: invert(1);
} input[type="search"]:focus::-webkit-search-cancel-button {
opacity: .3; 
pointer-events: all; 
}
#first form input::placeholder{
color: #fff;
opacity: 0.9;
}






/* second section */
#second{
width: 100%;
max-width: calc(var(--secmax) + 2rem);
overflow-x: hidden;
margin: 2rem auto 0 auto;
}
#second h4{
font-weight: 500;
font-size: 17px;
text-align: center;		
}
.row{
width: 100%;
max-width: calc(var(--secmax) + 2rem);
display: flex;
align-items: center;
justify-content: center;
align-items: flex-start;
align-content: flex-start;
flex-wrap: wrap;
margin: 0 auto;
}
.card{
width: 19rem;
margin: 12px 12px;
padding: 0.9rem;
border-radius: 8px;
background: var(--cardbg);
box-shadow: 0 1.5px 3px 2px rgba(0, 0, 0, 0.08);
border: 1px solid rgba(255,255,255,0.1);
display: flex;
flex-direction: column;
overflow: hidden;
}

/* flickity carousel */
.main-carousel{
width: 100%;
}
.main-carousel img{
width: 100%;
}
.flickity-button{
background: transparent; display: none !important;
}
.flickity-page-dots{ 
bottom: 4px !important; 
}
.flickity-page-dots .dot{
width: 9px !important;
height: 9px !important;
margin: 0 4px !important;
opacity: 1;
border: 1.5px solid var(--dbg) !important;
background: transparent !important;
}
.flickity-page-dots .dot.is-selected{
background: var(--dbg) !important;
}

.row:nth-of-type(2) .card div .flickity-page-dots{
display: none !important;
}
.row:nth-of-type(2) .card div{
padding-bottom: 0 !important;
}
/* flickity carousel */


.card div{
width: 100%;
border-radius: 8px;
padding-bottom: 10px;
background: #fff;
}
.card div img{
width: 100%;
}
.card h1{
font-size: 16px;
font-weight: 500;
line-height: 1.45;
margin: 14px 0 4px 0;
opacity: 0.8;
}
.card span:nth-of-type(1){
display: flex;
align-items: flex-end;
margin: 8px 0 0 0;
}
.card span p{
opacity: 0.8;
margin-right: 6px;
}
.card span p:nth-child(1){
color: #ff4069;
font-size: 14px;
}
.card span p:nth-child(2){
color: var(--font);
font-size: 18px;
font-weight: 401;
}
.card span p:nth-child(3){
color: var(--font);
font-size: 16px;
text-decoration: line-through;
}

/* 💫💫 */
.card .review{
display: flex;
margin-top: 11px;
}
.review p{
font-size: 14.5px;
margin-right: 6px;
font-weight: 401;
}
.review i{
font-size: 17px;
margin-right: 4px;
color: var(--font);
}

/* three star */
.star3 i:nth-of-type(-n+3){
background: linear-gradient(50deg, var(--sdw), gold, gold);
-webkit-text-fill-color: transparent; 
-webkit-background-clip: text;
}
/* four star */
.star4 i:nth-of-type(-n+4){
background: linear-gradient(50deg, var(--sdw), gold, gold);
-webkit-text-fill-color: transparent; 
-webkit-background-clip: text;
}
/* four point five star */
.star4-5 i:nth-of-type(-n+3){
background: linear-gradient(50deg, var(--sdw), gold, gold);
-webkit-text-fill-color: transparent; 
-webkit-background-clip: text;
}
.star4-5 i:nth-of-type(4){
background: linear-gradient(90deg, gold 50%, var(--font) 50%);
-webkit-text-fill-color: transparent; 
-webkit-background-clip: text;
}
/* five star */
.star5 i:nth-of-type(-n+5){
background: linear-gradient(50deg, var(--sdw), gold, gold);
-webkit-text-fill-color: transparent; 
-webkit-background-clip: text;
}











.card .availability{
font-size: 16px;
margin-top: 13px;
margin-left: 1.8px;
color: #5865f2;
font-weight: 400;
opacity: 0.85;
}
.card .availability:after{
content: "•";
font-size: 18px;
position: absolute;
margin-top: -5px;
margin-left: 2px;
}
.card span:nth-of-type(2){
display: flex;
align-items: center;
margin: 20px 0 0 0;
}
.card span button{
background: #5865f2;
padding: 9px 12px;
border-radius: 4px;
margin-right: 8px;
border: none;
color: #fff;
font-size: 14px;
display: flex;
align-items: center;
}
.card span button i{
font-size: 16px;
margin-right: 5px;
}














/* cart-box */
#cart-nav h1{
font-size: 24px;
font-family: fantasy;
font-weight: 600;
background: linear-gradient(20deg, #00d1d1, #5865f2);
-webkit-text-fill-color: transparent; 
-webkit-background-clip: text;
width: fit-content;
position: absolute;
transform: translateX(-50%);
left: 50%;
}
@media(min-width: 600px){
#cart-nav h1{
border-right: 3px solid #5865f2;
border-left: 3px solid #03aaab;
padding: 0 10px;
}}
#cart-box{
width: 100%;
height: 100%;
position: fixed;
z-index: 105;
bottom: 0;
left: 0;
background: var(--bg);
display: none;
overflow-y: scroll !important;
}
#cart-nav{
width: 100%;
max-width: calc(var(--secmax) + 2rem);
background: var(--cardbg);
padding: 20px 0.8rem;
display: flex;
align-items: center;
position: fixed;
transform: translateX(-50%);
left: 50%;
z-index: 5;
border-bottom: 0.5px solid var(--dsdw);
box-shadow: 0 5px 12px -5px var(--lsdw);
}
#cart-box h4{
font-weight: 500;
font-size: 17px;
display: none;
text-align: center;
position: relative;
top: 15%;
left: 50%;
transform: translateX(-50%);
}

@media(min-width: 1100px){
#cart-nav{
border-radius: 6px;
}}

#cart-box .row{
padding-top: 5rem;
}
#cart-nav span{
display: flex; 
align-items: center;
}
#cart-nav span i{
font-size: 22px;	
font-weight: 500;
}
#cart-nav span p{
font-size: 15px;	
font-weight: 500;
margin-left: 5px;
}












/* buy-box */
#buy-nav h1{
font-size: 24px;
font-family: fantasy;
font-weight: 600;
background: linear-gradient(20deg, #00d1d1, #5865f2);
-webkit-text-fill-color: transparent; 
-webkit-background-clip: text;
width: fit-content;
position: absolute;
transform: translateX(-50%);
left: 50%;
}

#buy-box main{
width: 100%;
max-width: var(--secmax);
margin: 0 auto;
display: flex; 
flex-direction: column !important;
}

@media(min-width: 600px){
#buy-nav h1{
border-right: 3px solid #5865f2;
border-left: 3px solid #03aaab;
padding: 0 10px;
}}
#buy-box{
width: 100%;
height: 100%;
position: fixed;
z-index: 108;
bottom: 0;
left: 0;
background: var(--bg);
display: none;
overflow-y: scroll !important;
}


#buy-nav{
width: 100%;
max-width: calc(var(--secmax) + 2rem);
background: var(--cardbg);
padding: 20px 0.8rem;
display: flex;
align-items: center;
position: fixed;
transform: translateX(-50%);
left: 50%;
z-index: 5;
border-bottom: 0.5px solid var(--dsdw);
box-shadow: 0 5px 12px -5px var(--lsdw);
}


#buy-head{
width: 85%;
max-width: 300px;
margin: 6rem auto 0 auto;
}
#buy-head div{
width: 100%;
background: var(--cardbg);
outline: 0.1px solid var(--dsdw);
box-shadow: 0 2px 5px 1px var(--sdw);
margin: 10px auto;
border-radius: 6px;
padding: 10px;
display: flex; 
align-items: center;
justify-content: center;
}
#buy-head div img{
width: 100%;
margin: 0 auto;
border-radius: 6px;
}
#buy-head span{
display: flex;
margin: 1.2rem auto 0 auto;
width: fit-content;
}
#buy-head span img{
width: 60px;
box-shadow: 0 2px 5px 1px var(--sdw);
margin: 0 10px;
border-radius: 6px;
outline: 0.1px solid var(--dsdw);
}
#buy-head span img:nth-of-type(2){
opacity: 0.5;
}
#buy-head span img:nth-of-type(3){
opacity: 0.5;
}







@media(min-width: 1100px){
#buy-nav{
border-radius: 6px;
}}
#buy-box .row{
padding-top: 5rem;
}
#buy-nav span{
display: flex; 
align-items: center;
}
#buy-nav span i{
font-size: 22px;	
font-weight: 500;
}
#buy-nav span p{
font-size: 15px;	
font-weight: 500;
margin-left: 5px;
}





#buy-body{
width: 85%;
max-width: 300px;
margin: 0 auto;
padding: 1.8rem 0.5rem;
}

#buy-body h1{
font-size: 16px;
font-weight: 500;
line-height: 1.5;
margin: 14px 0 4px 0;
opacity: 0.8;
}
#buy-body span:nth-of-type(1){
display: flex;
align-items: flex-end;
margin: 8px 0 0 0;
}
#buy-body span{
margin-top: 12px;
}
#buy-body span p{
opacity: 0.8;
margin-right: 6px;
}
#buy-body span p:nth-child(1){
color: #ff4069;
font-size: 14px;
}
#buy-body span p:nth-child(2){
color: var(--font);
font-size: 18px;
font-weight: 401;
}
#buy-body span p:nth-child(3){
color: var(--font);
font-size: 16px;
text-decoration: line-through;
}

/* 💫💫 */
#buy-body .review{
display: flex;
flex-direction: row !important;
justify-content: flex-start !important;
margin-top: 14px;
}
#buy-body .review p{
font-size: 14.5px;
margin-right: 6px;
font-weight: 401;
}
#buy-body .review i{
font-size: 17px;
margin-right: 4px;
color: var(--font);
}
#buy-body select{
margin-top: 14px;
padding: 2px 4px;
background: var(--cardbg);
font-size: 14px;
border-radius: 4px;
outline: 1px solid #5865f2;
}

@media(min-width: 850px){
#buy-box main{ 
flex-direction: row !important;
justify-content: center !important;
align-items: center !important;
}
#buy-head{
margin: 6rem 1rem 0 auto;
}
#buy-body{
margin: 0 auto 0 1rem;
}}





#buy-form{
width: 85%;
max-width: calc(600px + 2rem);
background: var(--cardbg);
outline: 0.1px solid var(--dsdw);
box-shadow: 0 2px 5px 1px var(--sdw);
margin: 2rem auto;
border-radius: 6px;
padding: 10px 1rem;
display: flex; 
align-items: center;
justify-content: center;
flex-direction: column;
}
#buy-form h1{
font-size: 18px;
font-weight: 500;
line-height: 1.5;
opacity: 0.8;
}
#buy-form span{
width: 100%;
display: flex; 
flex-direction: column;
align-items: center;
justify-content: center;
}
#buy-form select{
width: 100%;
border-radius: 6px;
background: var(--cardbg);
outline: none;
padding: 10px 10px;
margin: 8px 10px 0 10px;
color: var(--font);
}
#buy-form input{
width: 100%;
background: var(--cardbg);
outline: none;
padding: 10px 5px;
color: var(--font);
margin: 14px 10px 0 10px;
border: none;
border-bottom: 0.1px solid var(--font);
}
#buy-form input::placeholder{
color: var(--font);
opacity: 0.8;
}
#mode-span{
flex-direction: row !important;
justify-content: space-between !important;
margin: 10px 10px 0 10px;
}
#mode-span div{
display: flex !important;
flex-direction: row !important;
align-items: flex-start !important;
width: 100%;
white-space: nowrap;
text-align: left !important;
margin: 8px 0 0 0;
padding: 0 5px;
}
#mode-span div input{
width: fit-content !important;
padding: 0 !important;
margin: 0 !important;
text-align: left;
accent-color: #5865f2;
}
#mode-span div p{
font-weight: 401;
font-size: 14px;
margin-left: 5px;
text-align: left;
}

@media(min-width: 850px){
#buy-form span{	
flex-direction: row;			
}
#address{
width: calc(100% - 20px) !important;
}
#mode-span{
width: calc(100% - 20px) !important;
}}


#buy-btn{
background: #5865f2;
padding: 11px 12px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 4px;
margin-right: 8px;
margin-top: 1.5rem;
width: 100%;
border: none;
color: #fff;
font-size: 14px;
display: flex;
align-items: center;	
}
#buy-btn i{
font-size: 16px;	
margin-left: 5px;
}



